[mysqld]
character_set_server=utf8
symbolic-links=0
bind-address=127.0.0.1
local-infile=0
skip-show-database
skip-networking

[mysql]
default-character-set=utf8

[mysqldump]
default-character-set=utf8
